:root {
  --theme-font-family: 'Inter Variable', system-ui, sans-serif;
}

body {
  font-family: var(--theme-font-family);
}

@media (max-width: 1023px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: block !important;
  }
}
@media (min-width: 1024px) {
  .desktop-only {
    display: block !important;
  }
  .mobile-only {
    display: none !important;
  }
}
